{% extends '_layout/base.twig' %}

{% block content %}

	{# News Index - Variant 2 #}

	<div class="w-full pb-6 -mb-20 md:pr-8 bg-secondary-light">
		<div class="container hidden px-8 py-6 md:py-10 md:block">
			<img class="w-full" src="{{options.news_image.url|resize(1000, 200)}}" />
		</div>

		<div class="container py-6 md:py-10 md:hidden">
			<img class="w-full" src="{{options.news_image.url|resize(1000, 800)}}" />
		</div>
	</div>
	
	<div class="container py-6 md:py-10">

		<div class="flex flex-col w-full lg:flex-row">

			<div class="order-1 w-full lg:w-3/4 md:px-4 lg:px-6 md:order-2">
				<div class="flex flex-wrap w-full md:-mx-4 lg:-mx-6">
					{% for post in posts %}
						<div class="w-full mb-10 md:w-1/2 lg:w-1/2 md:px-4 lg:pr-0 lg:pl-6">
							<a href="{{ post.link }}" class="block h-full border-t-4 bg-secondary group border-primary-dark hover:bg-blue-300 focus:bg-primary-light">
								<div class="p-6">
									<span class="flex-1 inline-block mb-1 text-sm tracking-widest text-black uppercase opacity-50">{{ post.date }}</span>
									<span class="block mb-8 text-lg font-bold leading-tight text-black md:text-xl">{{ post.title }}</span>

									<span class="block text-black group-hover:text-gray-500 group-focus:text-gray-500">Read More
										<span class="text-gray-500">&raquo;</span>
									</span>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
      
			<div class="w-full p-6 mb-6 border border-gray-300 lg:w-1/4 lg:ml-4 bg-primary-dark lg:p-8 md:mb-8">
			<div class="accordion">
    			
				<span class="block mb-4 font-bold tracking-wider text-white uppercase h3 accordion-header">Categories {{ function('icon', 'angle-down') }}</span>
				
				<div class="hidden accordion-content">
					<ul>
						{% for cat in categories %}
							{# @INTEGRATION - check your permalinks to confirm this URL path is correct #}
							<li>
								<a href="{{ cat.link }}" class="block w-full py-1 text-white hover:text-gray-200 focus:text-gray-500">{{ cat.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
