{#
  Title: Content
  Description: Content
  Category: formatting
  Icon: cover-image
  Keywords: cta
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

<div class="relative flex justify-center p-8 -mt-16 lg:flex-nowrap">
    
    {# {% set backgroundColour = timber_field('background_colour') %} #}

    <span>{{ fields.background_colour }}</span>
    <p>{{ backgroundColour }}</p>
    <p>{{ post.meta('background_colour') }}</p>

    {% for media_item in fields.content_block %}
      
        {% if media_item.acf_fc_layout == 'content' %}
        <div class="w-full copy max-w-[1000px]">
            {{ media_item.content }}
        </div>
        {% endif %}

        {% if media_item.acf_fc_layout == 'image' %}
            <img src="{{ Image(post.meta('image')).src }}" />
        {% endif %}

    {% endfor %}
    
</div>