{#
  Title: Content
  Description: Content
  Category: formatting
  Icon: cover-image
  Keywords: cta
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}


{% if fields.margin_options =='nmb' %}
    {% set marginOptions = 'translate-y-20 -mt-20' %}
{% elseif fields.margin_options =='nmt' %}
    {% set marginOptions = '-translate-y-20 -mb-20' %}
{% elseif fields.margin_options =='def' %}
    {% set marginOptions = ' ' %}
{% elseif fields.margin_options =='ept' %}
    {% set marginOptions = 'pt-32' %}
{% elseif fields.margin_options =='epb' %}
    {% set marginOptions = 'pb-32' %}
{% endif %}

{% if fields.column_count == 'one' %}
    {% set columnOptions = 'lg:flex lg:flex-wrap' %}
{% elseif fields.column_count == 'two' %}
    {% set columnOptions = 'lg:flex lg:flex-nowrap' %}
{% endif %}

<div class="relative justify-center p-8 {{columnOptions}} {{ marginOptions }} {{ fields.background_colour }}">

    {% for media_item in fields.content_block %}
      
        {% if media_item.acf_fc_layout == 'content' %}
            <div class="w-full copy max-w-[1000px]">
                
                {{ media_item.content }}

                {% if media_item.include_a_phone_number == true %}
                    <div class="w-full mt-6 mb-6">
                        <p class="font-bold text-primary-dark">Professional Nottingham Builders &amp; Tradesmen</p>
                        <a href="tel:+441156477200" data-ctm-watch-id="3" data-ctm-tracked="1" data-observe="1" data-observer-id="1" class="text-xl font-bold text-primary-dark">0115 647 7200</a>
                    </div>
                {% endif %}
                
            </div>
        {% endif %}

        {% if media_item.acf_fc_layout == 'list' %}
            <ul class="flex flex-wrap justify-center w-full mt-7 max-w-[1200px]">
                {% for item in media_item.listitems %}
                    <li class="flex flex-wrap w-full mb-4 text-lg font-bold md:w-auto md:mr-8 text-primary">{% if Post(item.pagelink).link %}<a href="{{ Post(item.pagelink).link }}" class="flex hover:text-primary-mid">{% endif %}{{ function('icon', 'tick-round', 'mr-2 flex-auto text-2xl') }}{{ item.text }}{% if Post(item.pagelink).link %}</a>{% endif %}</li>
                {% endfor %}
            </ul> 
        {% endif %}

        {% if media_item.acf_fc_layout == 'image' %}
            <div class="w-full copy lg:w-1/2 max-w-[1000px] lg:ml-8">
                <img src="{{ Image((media_item.image_content)).src|resize(900,1000) }}" />
            </div>
        {% endif %}

    {% endfor %}
    
</div>