{#
  Title: Content
  Description: Content
  Category: formatting
  Icon: cover-image
  Keywords: cta
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

{% if fields.margin_options =='nmb' %}
    {% set marginOptions = 'translate-y-20 -mt-20' %}
{% elseif fields.margin_options =='nmt' %}
    {% set marginOptions = '-translate-y-20 -mb-20' %}
{% elseif fields.margin_options =='def' %}
    {% set marginOptions = ' ' %}
{% elseif fields.margin_options =='ept' %}
    {% set marginOptions = 'pt-32' %}
{% elseif fields.margin_options =='epb' %}
    {% set marginOptions = 'pb-32' %}
{% endif %}

{% if fields.column_count == 'one' %}
    {% set columnOptions = 'lg:flex lg:flex-wrap' %}
{% elseif fields.column_count == 'two' %}
    {% set columnOptions = 'lg:flex lg:flex-nowrap' %}
{% endif %}

<div class="relative justify-center p-8 {{columnOptions}} {{ marginOptions }} {{ fields.background_colour }}">

    {% for media_item in fields.content_block %}
      
        {% if media_item.acf_fc_layout == 'image' %}
            {% if media_item.acf_fc_layout == 'content' %}
                <div class="w-full copy lg:w-1/2 lg:mr-12 max-w-[1000px]">
                    {{ media_item.content }}
                </div>
            {% endif %}
        {% else %}
            {% if media_item.acf_fc_layout == 'content' %}
                <div class="w-full copy max-w-[1000px]">
                    {{ media_item.content }}
                </div>
            {% endif %}

            {% if media_item.acf_fc_layout == 'list' %}
                <ul class="flex flex-wrap justify-center w-full lg:flex-nowrap mt-7">
                    {% for item in media_item.listitems %}
                        <pre>{{ dump(item.pagelink.link) }}</pre>
                        <li class="mb-4 mr-6 text-lg font-bold text-primary">{% if item.pagelink.link %}<a href="{{ item.pagelink.link }}">{% endif %}{{ function('icon', 'tick-round', 'mr-1 text-xl') }} {{ item.text }}{% if item.pagelink.link %}</a>{% endif %}</li>
                    {% endfor %}
                </ul> 
            {% endif %}
            
        {% endif %} 

        {% if media_item.acf_fc_layout == 'image' %}
            <div class="w-full copy lg:w-1/2 max-w-[1000px] lg:ml-8">
                <img src="{{ Image((media_item.image_content)).src|resize(900,1000) }}" />
            </div>
        {% endif %}

    {% endfor %}
    
</div>