{#
  Title: Contact Form
  Description: Contact Form Block
  Category: formatting
  Icon: cover-image
  Keywords: cta
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: true
#}

<div class="container relative flex flex-col md:flex-row flex-wrap px-4 md:px-8 md:flex-nowrap z-10 mb-16 {{ marginOptions }}">

    <div class="flex flex-wrap w-full p-8 text-white lg:w-1/2 bg-primary-dark">

        {% filter shortcodes %}
	        [hf_form slug="contact-us"]
        {% endfilter %}

    </div>

    <div class="flex flex-col-reverse flex-wrap w-full overflow-hidden md:flex-row md:h-auto md:w-1/2 bg-primary-light">

        <div class="w-full p-8 text-primary-dark">

            <p class="mb-4 font-bold">{{ function('address_stacked') }}</p>

            <p class="mb-4 font-bold"><a href="mailto:{{options.main_email}}">{{options.main_email}}</a></p>

            <p class="mb-4 font-bold"><a href="tel:+441156477200" data-ctm-watch-id="3" data-ctm-tracked="1" data-observe="1" data-observer-id="1">0115 647 7200</a></p>
        
        </div>

        <div class="flex w-full h-auto min-h-48 !bg-no-repeat !bg-cover" style="background:url('{{ featured_image|resize('540', '260', 'center') }}')"></div>

    </div>
     
</div>